[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "OpenGL-Engine/vendor/GLFW"]
	path = OpenGL-Engine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "OpenGL-Engine/vendor/imgui"]
	path = OpenGL-Engine/vendor/imgui
	url = https://github.com/TheCherno/imgui
